APP_NAME=cms
MONGODB_URI=mongodb://root:password@host.docker.internal:27017
PAYLOAD_SECRET=euoeuouo
NODE_OPTIONS=--max-old-space-size=896 --max-semi-space-size=64 -r @cspotcode/source-map-support/register
PORT=4000
