@import '~payload/scss';

.custom-color-picker {
	&__input {
		// Payload exports a mixin from the vars file for quickly applying formInput rules to the class for our input
		@include formInput;
	}
}

.chip {
	border: $style-stroke-width-m solid #fff;
	box-shadow: none;

	&--selected {
		//box-shadow: 0 0 0 $style-stroke-width-m $color-dark-gray;
		box-shadow: 0 0 3px 3px var(--theme-success-400);
	}
}
