@font-face {
	font-family: 'Lausanne';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/lausanne/lausanne-300.woff2') format('woff2')
		/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/fonts/lausanne/lausanne-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Lausanne Fallback';
	font-style: normal;
	font-weight: 300;
	src: local('Arial');
	ascent-override: 70.74%;
	descent-override: 19.82%;
	line-gap-override: 19.82%;
	size-adjust: 100.93%;
}
