@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth text-lg leading-5 text-gray mix-blend-normal selection:bg-red selection:text-white md:text-sm;
		text-rendering: optimizeLegibility;
		font-synthesis: none;
	}

	a {
		-webkit-tap-highlight-color: transparent;
	}

	h1 {
		@apply text-5xl/[4.155555555555556rem] font-normal md:text-[5.75rem]/[4.722222222222222rem] xl:text-[6.25rem]/[5.555555555555555rem];
		margin: 0 0 2.2222222222222223rem;
	}

	h2 {
		@apply text-[2.5rem]/[3.388888888888889rem] font-normal md:text-7xl/[4.166666666666667rem] xl:text-8xl/[5.555555555555555rem];
		margin: 2.2222222222222223rem 0;
	}

	h3 {
		@apply text-4xl/[2.9555555555555557rem] font-normal md:text-6xl/[3.7rem] xl:text-7xl/[4.444444444444445rem];
		margin: 2.2222222222222223rem 0 1.6666666666666667rem;
	}

	h4 {
		@apply text-3xl/[2.966666666666667rem] font-normal md:text-5xl/[2.9444444444444446rem];
		margin: 1.6666666666666667rem 0 1.1111111111111112rem;
	}

	h5 {
		@apply text-2xl/[2.6666666666666665rem] font-normal md:text-[2rem]/[2.5rem];
		margin: 1.1111111111111112rem 0 0.5555555555555556rem;
	}

	p {
		@apply leading-[2.077777777777778rem] tracking-[0.5px] md:text-lg;
	}

	ol {
		padding: 0 0 0 1.1111111111111112rem;
		margin: 0 0 1.1111111111111112rem 0;
	}

	ul {
		padding: 0 0 0 1.1111111111111112rem;
		margin: 0 0 1.1111111111111112rem 0;
	}

	li {
		@apply leading-[2.077777777777778rem] tracking-[0.5px] md:text-lg;
	}

	:root {
		--font-sans: Lausanne, Lausanne Fallback;
		--antique: #fff9f2;
		--white: #ffffff;
		--gray: #181818;
		--red: #ff322c;
		--blue: #9ed1d8;
		--yellow: #ffef5e;
		--orange: #fcb449;
	}
}

@layer components {
	.disabled {
		@apply cursor-not-allowed border-neutral-200 bg-neutral-50 text-neutral-500 opacity-60;
	}

	.large-body {
		@apply text-2xl leading-[2.066666666666667rem] md:leading-[2.5rem];
		margin: 0.5555555555555556rem 0;
	}

	.label {
		@apply text-base uppercase leading-[2.6666666666666665rem] tracking-[2.5px];
	}
}
